require "date"
<% content_for :entry do %>
<form action="/<%="?id=" + @entry_json["id"] if @entry_json%>" method="post">
  <div class="card-block card-shadow">
    <div class="row content">
      <div class="col-sm-9" style="padding-top: 25px" ;>
        <div class="input-group" style="display: -webkit-box;">
          <input 
            type="text"
            class="form-control"
            placeholder="How would you name this story?"
            name="title"
            maxlength="80"
            style="width: 450px;
            margin-right: 100px;
            font-family: 'Helvetica', cursive;
            height: 50px;
            font-size: large;"
            value="<%=@entry_json["title"] if @entry_json%>"
            required
          />
          <label>
          <% if @entry_json %>
          <%=DateTime.parse(@entry_json["datetime"]).strftime("%Y-%m-%d %H:%M:%S")%>
          <%else%>
            <input
              type="date"
              class="dates"
              name="date"
              value="<%= Time.now.strftime("%Y-%m-%d") %>"
              required
              /><input
              type="time"
              class="dates"
              name="time"
              value="<%= Time.now.strftime("%H:%M") %>"
              required
          />
          <%end %>
          <button type="button" class="btn btn-<%= (@entry_json == nil || @entry_json["highlight"] == 0) ? 'default' : 'warning' %>" btn-sm form-control" title="Highligth" style="width:50px;margin-left: -50px">
            <span
              class="glyphicon glyphicon-star<%="-empty" if @entry_json == nil || @entry_json["highlight"] == 0 %>"
              aria-hidden="true"
            ></span>
          </button>
        </label>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <br />
        <%# I changed height of textarea for working  %>
        <textarea class="textarea1"
          placeholder="What happened today?"
          name="content"
          required
        ><%= @entry_json["content"] if @entry_json%></textarea>
        <br /><br />
        <div style="text-align: right; margin: -40px 0px 10px 0px;">
          <input
            class="input2"
            type="submit"
            value="Save story"
          />
        </div>
      </div>
    </div>
  </div>
</form>
<% end %>
