<% content_for :entry do %>
<form action="/<%="?id=" + @entry_json["id"] if @entry_json%>" method="post">
  <div class="card-block card-shadow">
    <div class="row content">
      <div class="col-sm-12 head-entry">
        <div class="input-group head-content">
          <input
            type="text"
            class="form-control title-entry"
            placeholder="How would you name this story?"
            name="title"
            maxlength="80"
            value="<%=@entry_json["title"] if @entry_json%>"
            required
          />
          <div class="date-entry">
          <% if @entry_json %>
            <label class="date-font"><%=@entry_json["datetime"]%></label>
          <%else%>
            <input
              type="date"
              class="date-font"
              name="date"
              value="<%= Time.now.strftime("%Y-%m-%d") %>"
              required
              /><input
              type="time"
              class="date-font"
              name="time"
              value="<%= Time.now.strftime("%H:%M") %>"
              required
            />
          <%end %>
          </div>
          <div class="highlight-content">
            <input type="checkbox" name="highlight" id="highlight_entry" <%="checked" if @entry_json != nil && @entry_json["highlight"] == 1 %>/>
            <label for="highlight_entry">Highlight it</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <textarea
          class="entry-content scrollbar style-scroll"
          placeholder="What happened today?"
          name="content"
          required
        ><%= @entry_json["content"] if @entry_json%></textarea>
        <div class="save">
          <button class="title-option save-button" type="submit">Save Story</button>
        </div>
      </div>
    </div>
  </div>
</form>
<% end %>
