require "date"
<% content_for :entry do %>
<form action="/<%="?id=" + @entry_json["id"] if @entry_json%>" method="post">
  <div class="card-block card-shadow">
    <div class="row content">
      <div class="col-sm-9" style="padding-top: 25px" ;>
        <div class="input-group" style="display: -webkit-box;">
          <input
            type="text"
            class="form-control"
            placeholder="How would you name this story?"
            name="title"
            maxlength="80"
            style="width:60%;margin-right:100px; font-family: 'Margarine', cursive;"
            value="<%=@entry_json["title"] if @entry_json%>"
            required
          />
          <label>
          <% if @entry_json %>
          <%=DateTime.parse(@entry_json["datetime"]).strftime("%Y-%m-%d %H:%M:%S")%>
          <%else%>
            <input
              type="date"
              class="form-control"
              name="date"
              style="width:160px; font-family: 'Questrial', serif;"
              value="<%= Time.now.strftime("%Y-%m-%d") %>"
              required
              /><input
              type="time"
              class="form-control"
              name="time"
              style="width:160px; font-family: 'Questrial', serif;"
              value="<%= Time.now.strftime("%H:%M") %>"
              required
          />
          <%end %>
          <button type="button" class="btn btn-<%= (@entry_json == nil || @entry_json["highlight"] == 0) ? 'default' : 'warning' %>" btn-sm form-control" title="Highligth" style="width:50px;margin-left: 45px">
            <span
              class="glyphicon glyphicon-star<%="-empty" if @entry_json == nil || @entry_json["highlight"] == 0 %>"
              aria-hidden="true"
            ></span>
          </button>
        </label>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <br />
        <textarea
          class="form-control"
          style="width:100%;height:300px"
          placeholder="What happened today?"
          name="content"
          required
        ><%= @entry_json["content"] if @entry_json%></textarea>
        <br /><br />
        <div style="text-align: right">
          <input
            type="submit"
            value="SAVE"
            style="width: 20%; font-size: large; background-color: orange;
            color: white;margin-bottom: 20px; border: outset;
            font-family: 'Questrial', sans-serif"
          />
        </div>
      </div>
    </div>
  </div>
</form>
<% end %>
