<% content_for :entry do %>
<form action="/<%="?id=" + @entry_json["id"] if @entry_json%>" method="post">
  <div class="card-block card-shadow">
    <div class="row content">
      <div class="col-sm-9" style="padding-top: 25px;width:100%" ;>
        <div class="input-group" style="display: flex">
          <input
            type="text"
            class="form-control"
            placeholder="How would you name this story?"
            name="title"
            maxlength="80"
            style="width:43%;
            margin-right: 20px;
            font-family: 'Helvetica', cursive;
            font-size: 20px;"
            value="<%=@entry_json["title"] if @entry_json%>"
            required
          />
          <div style="width:40%;text-align:center">
          <% if @entry_json %>
            <label style="font-size:20px;margin-top:2px"><%=@entry_json["datetime"]%></label>
          <%else%>
            <input
              type="date"
              class="dates"
              name="date"
              value="<%= Time.now.strftime("%Y-%m-%d") %>"
              required
              /><input
              type="time"
              class="dates"
              name="time"
              value="<%= Time.now.strftime("%H:%M") %>"
              required
            />
          <%end %>
          </div>
          <div style="width:17%;justify-content:right;display:flex;font-size:20px">
            <input type="checkbox" name="highlight" id="highlight_entry" <%="checked" if @entry_json != nil && @entry_json["highlight"] == 1 %>/>
            <label for="highlight_entry" style="margin: auto 5px">Highlight it</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <br />
<<<<<<< HEAD
        <textarea class="textarea1"
=======
        <textarea
          class="textarea1"
          style="width:100%;height:340px; background:white"
>>>>>>> master
          placeholder="What happened today?"
          name="content"
          required
        ><%= @entry_json["content"] if @entry_json%></textarea>
        <br /><br />
        <div style="text-align: right; margin: -40px 0px 10px 0px;">
          <input
            class="input2"
            type="submit"
            value="Save Story"
            <%# style="width: 20%; font-size: large; background-color: orange;
            color: white;margin-bottom: 20px; border: outset;
            font-family: 'Questrial', sans-serif" %>
          />
        </div>
      </div>
    </div>
  </div>
</form>
<% end %>
