<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Diary App</title>
    <link
      rel="icon"
      type="image/png"
      href="https://emojipedia.org/static/img/favicons/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="body-daily">
            <div class="col-sm-4">
              <%= yield_content :list %>
            </div>
            <div class="col-sm-8">
              <%= yield_content :entry if content_for?(:entry) %>
              <%= yield_content :message if content_for?(:message) %>
              <%= yield_content :list_photos if content_for?(:list_photos) %>
              <%= yield_content :view if content_for?(:view) %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
