<% content_for :list do %>
  <div class="card-block card-shadow">
    <div class="row">
      <div class="col-sm-4">
        <a class="menu" href="/">
          <p class="title-option <%= "select" if @url == "/" || @url == "/edit" || @url == "/search" %>">Daily</p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="menu" href="/photo">
          <p class="title-option <%= "select" if  @url == "/photo" %>">Photo</p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="menu" href="/trash">
          <p class="title-option <%= "select" if @url == "/trash" %>">Trash</p>
        </a>
      </div>
    </div>
    <% unless /^(\/photo|\/trash)$/ === @url %>
    <div class="row">
      <div class="col-sm-12">
<<<<<<< HEAD
<<<<<<< HEAD
        <div class="card-list">
          <a href="/">
            <button type="button" class="btn btn-default btn-sm" title="add">
              <span
                    class="glyphicon glyphicon-plus-sign"
                    aria-hidden="true"
              ></span>
            </button>
          </a>
          <form action="/search" method="post">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Buscar..." value="<%= params["search"] %>">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default" title="buscar">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </form>
              <a href="/">
                <button type="button" class="btn btn-default" title="Agregar">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
              </a>
            </div>
          </div>
=======
        <div class="card-list" style="width:88%">
          <form action="/search" method="post" style="width:100%">
=======
        <div class="card-list search-content">
          <form action="/search" method="post">
>>>>>>> master
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="What entries do you want search?" value="<%= params["search"] %>"/>
              <div class="input-group-btn">
                  <button type="submit" class="btn btn-default" title="Search entries">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                  <a href="/">
                    <button type="button" class="btn btn-default" title="New Entry">
                      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    </button>
                  </a>
              </div>
            </div>
          </form>
>>>>>>> master
        </div>
      </div>
    </div>
    <% end %>
    <%= yield_content :list_entry if content_for?(:list_entry) %>
  </div>
<% end %>