<% content_for :view do %>
  <div class="card-block card-shadow">
    <div class="row content">
    <% if @entry_json.empty? %>
      <p class="p1">Your story was deleted</p>
    <% else %>
      <div class="col-sm-9" style="padding-top: 25px;width:100%">
        <div class="input-group" style="display:flex; font-family: 'Margarine', cursive;font-size:20px">
          <div style="width:70%"><label><%=@entry_json["title"]%></label></div>
          <div style="width:20%; text-align: center"><label><%=@entry_json["datetime"]%></label></div>
          <div style="width:10%;justify-content:right;display:flex">
            <button type="button"
              class="btn btn-<%= (@entry_json["highlight"] == 0) ? 'default' : 'warning' %> btn-sm"
              title="Highligth" style="width:50px" disabled>
              <span
                class="glyphicon glyphicon-star<%="-empty" if @entry_json["highlight"] == 0 %>"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <div class="scrollbar style-scroll" style="height:421px">
          <br /><%= @entry_json["content"] if @entry_json%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
