<% content_for :view do %>
  <div class="card-block card-shadow view-content">
    <div class="row content">
    <% if @entry_json.empty? %>
      <p class="entry-delete">Your story was deleted</p>
    <% else %>
      <div class="col-sm-12">
        <div class="row view-title">
          <div class="col-sm-7">
            <h2><%=@entry_json["title"]%></h2>
          </div>
          <div class="col-sm-3">
            <p class="view-date"><%=@entry_json["datetime"]%></p>
          </div>
          <div class="col-sm-2" style="justify-content:right;display:flex">
            <button type="button"
              class="btn btn-<%= (@entry_json["highlight"] == 0) ? 'default' : 'warning' %> btn-sm"
              title="Highligth" style="width:50px" disabled>
              <span
                class="glyphicon glyphicon-star<%="-empty" if @entry_json["highlight"] == 0 %>"
                aria-hidden="true"
              ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <div class="scrollbar style-scroll">
          <br /><%= @entry_json["content"] if @entry_json%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
<% end %>
